# Python
# Archivos de caché y bytecode
*.pyc
__pycache__/
.pytest_cache/
.mypy_cache/
.pytype/
.ipynb_checkpoints/

# Entornos virtuales
# ignora los entornos virtuales, ya que cada desarrollador debe crear el suyo
.venv/
venv/
env/
/bin/
/include/
/lib/
/share/
/local/

# Archivos de paquetes de Python
*.egg-info/
.eggs/
dist/
build/

# Credenciales y archivos de configuración sensibles
# ¡IMPORTANTE! NUNCA subas credenciales directamente.
# Utiliza variables de entorno o archivos .env que estén ignorados.
.env
*.env

# Archivos de datos o logs generados localmente
*.log
*.sqlite3
*.db
!db.sqlite3  # Si usas SQLite y quieres rastrear el archivo, descomenta esta línea y ajústala

# IDEs (si utilizas alguno en particular)
# VS Code
.vscode/
# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Pruebas contenerización
/pgdata

/docker-compose.simulate.yml
/README.simulate_ecr.md
/scripts/simulate_ecr_push.ps1
